body{
  height: 400px;
  width: 300px;
  border: 1px solid black;
  margin: 0 auto; /* for debugging only */
  padding: 0;
  background-color: darkorange;
}

header{
  background-color: white;
}

h1{
  text-align: center;
  font-size: 65px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  display: block;
  padding: 0.5em 0 0.2em 0;
  box-sizing: border-box;
}

input{
  outline: none
}

#action-btns {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}
button{
  padding: 0;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


img, button{
  border-radius: 50%;
  overflow: visible;
}


button:active{
  transform: translateY(0.5px);
  box-shadow: none !important;
  /* transition: box-shadow ease  1s; */
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow ease  0.3s;
}


#new-task-entry{
  display: flex;
  padding: 2em 0 1em 0;
  justify-content: center;
  column-gap: 1em;
}

#new-task-entry img{
  width: 30px;
  height: 30px;
}

#new-task-entry button{
  border-radius: 8px !important
}


#newTaskinput{
  border: none;
  border-bottom: 2px solid orange !important;
  margin-left: 2em;
}

#taskContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 3px;
  padding-top: 1em;
}


.task-field{
  width: 200px;
  /* outline: 1px solid red; */
  display: flex;
  /* justify-content: space-between; */
  /* align-content: center; */
  align-items: center;
  gap: 3px;
}

.task-field button{
  max-width: 16px;
  max-height: 16px;
  font-size: 10px;
  padding: 1px 1px 2px 2px;
  color: white;
  background-color: brown;
}

.task-field input{
  border: none;
  border-radius: 8px;
  padding: 3px 6px;
  width: 100%;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.task-field input:hover{
  transition: box-shadow ease 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}